# Put tool specific ignores in the tool directory, not here.

*.o
*.a
*.lo
*.la
*.gcov
*.gcda
*.gcno
*.rej
*.orig
*.vscode
*.sw[opqr]
TAGS
*~
\#*#
.~lock.*#
.DS_Store
.cache
Makefile
__pycache__

include/ord/Version.hh

build
flow

docs/main

.idea/
cmake-build-*/

coverage-output
messages.txt

.clion.source.upload.marker